# S&P 500 Stock Data Analysis

In [17]:
import pandas as pd
import yfinance as yf
from IPython.display import display
import numpy as np

### Begin Data Processing

In [18]:
# grab data
url = "https://raw.githubusercontent.com/datasets/s-and-p-500-companies/master/data/constituents.csv"
df_comapnies = pd.read_csv(url)

print(f"\n{"=" * 75}\n")
df_companies.to_csv("sp500_companies.csv", index=False)
print(f"Companies length check: {len(df_companies)}")
print(f"\n{"=" * 75}\n")

symbols = df_companies["Symbol"].tolist()
symbols = [s.replace('.', '-') for s in symbols]

display(df_companies)
print(f"\n{"=" * 75}\n")

raw_data = yf.download(symbols, period="5y", group_by="ticker", auto_adjust=True, threads=True)

display(raw_data)
print(f"\n{"=" * 75}\n")

# change data shape from wide to long
df_stocks = raw_data.stack(level=0).reset_index()
df_stocks.rename(columns={"Ticker": "Symbol"}, inplace=True)

# check and see that the data changes went through
display(df_stocks)

df_stocks.to_csv("sp500_stocks.csv", index=False)
print(f"sp500_stocks.csv saved, includes {len(df_stocks)} rows")

sp500_index = yf.download("^GSPC", period="5y", auto_adjust=True)
sp500_index.reset_index(inplace=True)
sp500_index["Symbol"] = 'S&P500'

sp500_index.to_csv("sp500_index.csv", index=False)

display(sp500_index)
print(f"\n{"=" * 75}\n")

===========================================================================

Companies length check: 502

===========================================================================

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
0,NMS,AAPL,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,254.49,3846819807232,1.346610e+11,0.061,Cupertino,CA,United States,164000.0,"Apple Inc. designs, manufactures, and markets ...",0.069209
1,NMS,NVDA,NVIDIA Corporation,NVIDIA Corporation,Technology,Semiconductors,134.70,3298803056640,6.118400e+10,1.224,Santa Clara,CA,United States,29600.0,NVIDIA Corporation provides graphics and compu...,0.059350
2,NMS,MSFT,Microsoft Corporation,Microsoft Corporation,Technology,Software - Infrastructure,436.60,3246068596736,1.365520e+11,0.160,Redmond,WA,United States,228000.0,Microsoft Corporation develops and supports so...,0.058401
3,NMS,AMZN,"Amazon.com, Inc.","Amazon.com, Inc.",Consumer Cyclical,Internet Retail,224.92,2365033807872,1.115830e+11,0.110,Seattle,WA,United States,1551000.0,"Amazon.com, Inc. engages in the retail sale of...",0.042550
4,NMS,GOOGL,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,191.41,2351625142272,1.234700e+11,0.151,Mountain View,CA,United States,181269.0,Alphabet Inc. offers various products and plat...,0.042309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,NMS,CZR,"Caesars Entertainment, Inc.","Caesars Entertainment, Inc.",Consumer Cyclical,Resorts & Casinos,32.82,6973593600,3.668000e+09,-0.040,Reno,NV,United States,51000.0,"Caesars Entertainment, Inc. operates as a gami...",0.000125
498,NYQ,BWA,BorgWarner Inc.,BorgWarner Inc.,Consumer Cyclical,Auto Parts,31.88,6972155904,1.882000e+09,-0.048,Auburn Hills,MI,United States,39900.0,"BorgWarner Inc., together with its subsidiarie...",0.000125
499,NMS,QRVO,"Qorvo, Inc.","Qorvo, Inc.",Technology,Semiconductors,70.85,6697217024,6.731300e+08,-0.052,Greensboro,NC,United States,8700.0,"Qorvo, Inc. engages in development and commerc...",0.000120
500,NYQ,FMC,FMC Corporation,FMC Corporation,Basic Materials,Agricultural Inputs,50.15,6260525568,7.033000e+08,0.085,Philadelphia,PA,United States,5800.0,"FMC Corporation, an agricultural sciences comp...",0.000113
501,NYQ,AMTM,"Amentum Holdings, Inc.","Amentum Holdings, Inc.",Industrials,Specialty Business Services,19.17,4664099328,4.330000e+08,-0.031,Chantilly,VA,United States,NaN,"Amentum Holdings, Inc. provides engineering an...",0.000084

===========================================================================

[****                   8%                       ]  42 of 502 completed$PARA: possibly delisted; no price data found  (period=5y) (Yahoo error = "No data found, symbol may be delisted")
[******                12%                       ]  62 of 502 completed$DFS: possibly delisted; no price data found  (period=5y) (Yahoo error = "No data found, symbol may be delisted")
[************          26%                       ]  132 of 502 completed$WBA: possibly delisted; no price data found  (period=5y) (Yahoo error = "No data found, symbol may be delisted")
[**********************48%                       ]  240 of 502 completed$JNPR: possibly delisted; no price data found  (period=5y) (Yahoo error = "No data found, symbol may be delisted")
[**********************51%                       ]  256 of 502 completed$IPG: possibly delisted; no price data found  (period=5y) (Yahoo error = "No data found, symbol may be delisted")
[**********************54%*                      ]  273 of 502 completed$HES: possibly delisted; no price data found  (period=5y) (Yahoo error = "No data found, symbol may be delisted")
[**********************69%********               ]  347 of 502 completed$FI: possibly delisted; no price data found  (period=5y) (Yahoo error = "No data found, symbol may be delisted")
[*********************100%***********************]  500 of 502 completed$ANSS: possibly delisted; no price data found  (period=5y) (Yahoo error = "No data found, symbol may be delisted")
[*********************100%***********************]  502 of 502 completed

8 Failed downloads:
['PARA', 'DFS', 'WBA', 'JNPR', 'IPG', 'HES', 'FI', 'ANSS']: possibly delisted; no price data found  (period=5y) (Yahoo error = "No data found, symbol may be delisted")

Ticker           SOLV                                                     ACN  \
Price            Open       High        Low      Close     Volume        Open
Date
2021-02-01        NaN        NaN        NaN        NaN        NaN  229.850222
2021-02-02        NaN        NaN        NaN        NaN        NaN  233.492674
2021-02-03        NaN        NaN        NaN        NaN        NaN  231.802183
2021-02-04        NaN        NaN        NaN        NaN        NaN  233.081728
2021-02-05        NaN        NaN        NaN        NaN        NaN  237.312637
...               ...        ...        ...        ...        ...         ...
2026-01-26  80.129997  81.040001  78.930000  79.010002   868500.0  283.250000
2026-01-27  78.250000  78.800003  77.440002  77.610001   791500.0  280.000000
2026-01-28  77.080002  77.345001  76.385002  76.599998  1209000.0  275.820007
2026-01-29  76.470001  76.816002  75.610001  76.519997  1044900.0  269.470001
2026-01-30  76.129997  76.989998  75.589996  76.970001  1348400.0  261.220001

Ticker                                                   ...         PHM  \
Price             High         Low       Close   Volume  ...        High
Date                                                     ...
2021-02-01  232.465328  227.860859  231.223160  1559700  ...   42.761639
2021-02-02  234.828245  232.213139  232.325211  2010300  ...   44.123541
2021-02-03  233.595405  230.307824  231.970291  2470400  ...   44.466381
2021-02-04  236.322608  230.606712  236.303925  1702200  ...   45.380666
2021-02-05  238.863032  235.510080  236.798950  1497700  ...   45.847336
...                ...         ...         ...      ...  ...         ...
2026-01-26  284.589996  276.140015  280.709991  3169300  ...  126.129997
2026-01-27  280.000000  274.160004  275.799988  2937100  ...  124.879997
2026-01-28  278.660004  267.859985  270.429993  3735200  ...  127.139999
2026-01-29  271.200012  257.369995  261.220001  8227500  ...  129.360001
2026-01-30  264.540009  259.899994  263.640015  5457900  ...  127.459999

Ticker                                      ANSS                           \
Price              Low       Close   Volume Open High Low Close Adj Close
Date
2021-02-01   41.066409   42.637829  3273200  NaN  NaN NaN   NaN       NaN
2021-02-02   42.171169   43.780685  2936800  NaN  NaN NaN   NaN       NaN
2021-02-03   43.380675   44.152100  3447600  NaN  NaN NaN   NaN       NaN
2021-02-04   43.485439   44.856857  2278600  NaN  NaN NaN   NaN       NaN
2021-02-05   44.580679   45.837814  3379700  NaN  NaN NaN   NaN       NaN
...                ...         ...      ...  ...  ...  ..   ...       ...
2026-01-26  124.120003  125.070000  1642100  NaN  NaN NaN   NaN       NaN
2026-01-27  123.019997  123.879997  1788300  NaN  NaN NaN   NaN       NaN
2026-01-28  123.169998  123.269997  2289100  NaN  NaN NaN   NaN       NaN
2026-01-29  124.230003  127.260002  2860600  NaN  NaN NaN   NaN       NaN
2026-01-30  123.419998  125.089996  1927400  NaN  NaN NaN   NaN       NaN

Ticker
Price      Volume
Date
2021-02-01    NaN
2021-02-02    NaN
2021-02-03    NaN
2021-02-04    NaN
2021-02-05    NaN
...           ...
2026-01-26    NaN
2026-01-27    NaN
2026-01-28    NaN
2026-01-29    NaN
2026-01-30    NaN

[1256 rows x 2518 columns]

===========================================================================

Price,Date,Symbol,Open,High,Low,Close,Volume,Adj Close
0,2021-02-01,SOLV,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-02-01,ACN,229.850222,232.465328,227.860859,231.223160,1559700.0,NaN
2,2021-02-01,CCL,18.959999,19.129999,18.410000,18.799999,27139000.0,NaN
3,2021-02-01,WDC,42.911733,43.642112,42.490068,43.363514,6086197.0,NaN
4,2021-02-01,SPGI,306.733609,309.745800,304.268221,308.738525,1774600.0,NaN
...,...,...,...,...,...,...,...,...
630507,2026-01-30,STLD,180.020004,183.949997,178.639999,179.570007,1392700.0,NaN
630508,2026-01-30,PGR,208.250000,209.449997,206.470001,208.000000,3196400.0,NaN
630509,2026-01-30,VRSK,216.589996,217.660004,213.889999,217.460007,977500.0,NaN
630510,2026-01-30,PHM,126.620003,127.459999,123.419998,125.089996,1927400.0,NaN
630511,2026-01-30,ANSS,NaN,NaN,NaN,NaN,NaN,NaN

[*********************100%***********************]  1 of 1 completed

sp500_stocks.csv saved, includes 630512 rows

Price,Date,Close,High,Low,Open,Volume,Symbol
Ticker,,^GSPC,^GSPC,^GSPC,^GSPC,^GSPC,
0,2021-02-01,3773.860107,3784.320068,3725.620117,3731.169922,5436230000,S&P500
1,2021-02-02,3826.310059,3843.090088,3791.840088,3791.840088,5514090000,S&P500
2,2021-02-03,3830.169922,3847.510010,3816.679932,3840.270020,4864870000,S&P500
3,2021-02-04,3871.739990,3872.419922,3836.659912,3836.659912,4879240000,S&P500
4,2021-02-05,3886.830078,3894.560059,3874.929932,3878.300049,4879470000,S&P500
...,...,...,...,...,...,...,...
1251,2026-01-26,6950.229980,6964.660156,6921.600098,6923.229980,4968050000,S&P500
1252,2026-01-27,6978.600098,6988.819824,6958.830078,6965.959961,5331720000,S&P500
1253,2026-01-28,6978.029785,7002.279785,6963.459961,7002.000000,5507670000,S&P500
1254,2026-01-29,6969.009766,6992.839844,6870.799805,6977.740234,6877780000,S&P500
1255,2026-01-30,6939.029785,6964.089844,6893.479980,6947.270020,6697340000,S&P500

===========================================================================

### Merge Data

In [19]:
df_stocks = pd.read_csv("sp500_stocks.csv")
df_companies = pd.read_csv("sp500_companies.csv")
df_index = pd.read_csv("sp500_index.csv")

df_index = df_index.iloc[1:] # to remove the unneeded row at top
df_index["Close"] = pd.to_numeric(df_index["Close"])
df_index["High"] = pd.to_numeric(df_index["High"])
df_index["Low"] = pd.to_numeric(df_index["Low"])

# get returns in percentage from the previous day
df_stocks["Daily Return"] = df_stocks.groupby("Symbol")["Close"].pct_change()
df_index["Index Return"] = df_index["Close"].pct_change()

df_stocks.dropna(subset=["Close"], inplace=True)
df_stocks.drop(columns=["Adj Close"], inplace=True) # adjusted close is the closed value from above

print(f"\n{"=" * 75}\n")
display(df_stocks.head())
print(f"\n{"=" * 75}\n")
display(df_index.head())
print(f"\n{"=" * 75}\n")

df_stocks.dropna(subset=["Daily Return"], inplace=True)
df_index.dropna(subset=["Index Return"], inplace=True)

# merge the data
df_stocks_index = df_stocks.merge(df_index[["Date", "Index Return"]], on="Date", how="inner")

# verify the data seems correct
display(df)

===========================================================================

,Date,Symbol,Open,High,Low,Close,Volume,Daily Return
1,2021-02-01,ACN,229.850222,232.465328,227.860859,231.223160,1559700.0,NaN
2,2021-02-01,CCL,18.959999,19.129999,18.410000,18.799999,27139000.0,NaN
3,2021-02-01,WDC,42.911733,43.642112,42.490068,43.363514,6086197.0,NaN
4,2021-02-01,SPGI,306.733609,309.745800,304.268221,308.738525,1774600.0,NaN
5,2021-02-01,EOG,40.189315,40.721831,39.218257,40.197147,4710300.0,NaN

===========================================================================

,Date,Close,High,Low,Open,Volume,Symbol,Index Return
1,2021-02-01,3773.860107,3784.320068,3725.620117,3731.169921875,5436230000,S&P500,NaN
2,2021-02-02,3826.310059,3843.090088,3791.840088,3791.840087890625,5514090000,S&P500,0.013898
3,2021-02-03,3830.169922,3847.510010,3816.679932,3840.27001953125,4864870000,S&P500,0.001009
4,2021-02-04,3871.739990,3872.419922,3836.659912,3836.659912109375,4879240000,S&P500,0.010853
5,2021-02-05,3886.830078,3894.560059,3874.929932,3878.300048828125,4879470000,S&P500,0.003897

===========================================================================

,Date,Symbol,Open,High,Low,Close,Volume,Daily Return,Index Return
0,2021-02-02,CCL,19.219999,19.600000,18.980000,19.450001,27697100.0,0.034575,0.013898
1,2021-02-02,WDC,44.124014,44.432732,43.288216,43.604465,5325075.0,0.005557,0.013898
2,2021-02-02,ACN,233.492674,234.828245,232.213139,232.325211,2010300.0,0.004766,0.013898
3,2021-02-02,PPG,126.868007,129.052094,125.327346,127.357384,2201300.0,0.014071,0.013898
4,2021-02-02,EOG,41.426629,41.512769,39.891727,40.142323,6255100.0,-0.001364,0.013898
...,...,...,...,...,...,...,...,...,...
614978,2026-01-29,CL,85.529999,85.964996,84.790001,85.239998,6479600.0,0.002824,-0.001293
614979,2026-01-29,PGR,212.089996,213.419998,204.440002,208.259995,6234646.0,-0.021059,-0.001293
614980,2026-01-29,VRSK,218.169998,219.229996,214.544998,216.589996,1218384.0,-0.011140,-0.001293
614981,2026-01-29,STLD,177.029999,182.259995,175.857101,181.970001,1466414.0,0.043526,-0.001293
614982,2026-01-29,PHM,124.239998,129.360001,124.224998,127.260002,2407887.0,0.032368,-0.001293

## Calculate Active Return ($\alpha$) and Volatility (W.R.T S&P 500, $\beta$)

In [20]:
def get_metrics(group) -> pd.Series:
    if len(group) < 502:
        return pd.Series({"Beta": np.nan, "Alpha": np.nan, "Volatility": np.nan, "Annual Return": np.nan})

    volatility = group["Daily Return"].std() * (251 ** 0.5)
    
    # find beta
    covariance_matrix = np.cov(group["Daily Return"], group["Index Return"])
    covariance = covariance_matrix[0, 1]
    variance = group["Index Return"].var()
    beta = covariance / variance

    # find alpha
    # risk free rate is about 4.2%
    # src: https://www.cnbc.com/quotes/US10Y
    rfr = 0.042

    annual_stock_return = group["Daily Return"].mean() * 251
    annual_market_return = group["Index Return"].mean() * 251
    expected_return = rfr + beta * (annual_market_return - rfr)
    alpha = annual_stock_return - expected_return

    return pd.Series({
        "Beta": beta,
        "Alpha": alpha,
        "Volatility": volatility,
        "Annual Return": annual_stock_return
    })

df_metrics = df_stocks_index.groupby("Symbol").apply(get_metrics, include_groups=False).reset_index()
df_metrics = df_metrics.merge(df_companies[["Symbol", "Shortname", "Sector"]], on="Symbol", how="left")
df_metrics.dropna(inplace=True)


print(f"\n{"=" * 75}")
print("Stocks sorted by volatility (descending):")
print(f"{"=" * 75}")
display(df_metrics.sort_values(by="Volatility", ascending=False))
print(f"\n{"=" * 75}")
print("Stocks sorted by alpha value (descending):")
print(f"{"=" * 75}")
display(df_metrics.sort_values(by="Alpha", ascending=False))
print(f"\n{"=" * 75}")
print("Stocks sorted by beta value (descending):")
print(f"{"=" * 75}")
display(df_metrics.sort_values(by="Beta", ascending=False))

df_metrics.to_csv("sp500_alphabeta.csv", index=False)

===========================================================================
Stocks sorted by volatility (descending):
===========================================================================

,Symbol,Beta,Alpha,Volatility,Annual Return,Shortname,Sector
404,SMCI,1.852191,0.552149,0.811806,0.768251,"Super Micro Computer, Inc.",Technology
314,MRNA,1.317384,-0.197900,0.668240,-0.032069,"Moderna, Inc.",Healthcare
159,ENPH,1.518593,-0.284663,0.665183,-0.099919,"Enphase Energy, Inc.",Technology
367,PLTR,2.094218,0.269927,0.663841,0.508779,Palantir Technologies Inc.,Technology
443,TSLA,2.044894,0.032112,0.602677,0.266327,"Tesla, Inc.",Consumer Cyclical
...,...,...,...,...,...,...,...
361,PG,0.306065,0.001943,0.172491,0.072712,Procter & Gamble Company (The),Consumer Defensive
66,BRK-B,0.652875,0.059438,0.172197,0.162806,Berkshire Hathaway Inc. New,Financial Services
292,MCD,0.409905,0.039896,0.170304,0.120426,McDonald's Corporation,Consumer Cyclical
254,JNJ,0.207667,0.047528,0.166296,0.109049,Johnson & Johnson,Healthcare
267,KO,0.313354,0.057814,0.157415,0.129269,Coca-Cola Company (The),Consumer Defensive

===========================================================================
Stocks sorted by alpha value (descending):
===========================================================================

,Symbol,Beta,Alpha,Volatility,Annual Return,Shortname,Sector
404,SMCI,1.852191,0.552149,0.811806,0.768251,"Super Micro Computer, Inc.",Technology
85,CEG,1.230127,0.460139,0.491905,0.599716,Constellation Energy Corporatio,Utilities
338,NVDA,2.175568,0.421943,0.519265,0.668441,NVIDIA Corporation,Technology
468,VST,1.237268,0.391812,0.481526,0.550112,Vistra Corp.,Utilities
438,TRGP,0.960986,0.336373,0.327691,0.468703,"Targa Resources, Inc.",Energy
...,...,...,...,...,...,...,...
419,SWKS,1.584018,-0.325847,0.396724,-0.134953,"Skyworks Solutions, Inc.",Technology
123,CZR,1.919694,-0.333819,0.519613,-0.111372,"Caesars Entertainment, Inc.",Consumer Cyclical
187,FMC,0.857582,-0.367986,0.440102,-0.245375,FMC Corporation,Basic Materials
320,MTCH,1.350279,-0.370585,0.448962,-0.201662,"Match Group, Inc.",Communication Services
381,PYPL,1.472093,-0.397073,0.414554,-0.216699,"PayPal Holdings, Inc.",Financial Services

===========================================================================
Stocks sorted by beta value (descending):
===========================================================================

,Symbol,Beta,Alpha,Volatility,Annual Return,Shortname,Sector
338,NVDA,2.175568,0.421943,0.519265,0.668441,NVIDIA Corporation,Technology
312,MPWR,2.146812,0.125540,0.527395,0.369335,"Monolithic Power Systems, Inc.",Technology
367,PLTR,2.094218,0.269927,0.663841,0.508779,Palantir Technologies Inc.,Technology
443,TSLA,2.044894,0.032112,0.602677,0.266327,"Tesla, Inc.",Consumer Cyclical
26,AMD,2.042689,0.100419,0.524086,0.334427,"Advanced Micro Devices, Inc.",Technology
...,...,...,...,...,...,...,...
268,KR,0.173965,0.122382,0.264610,0.180735,Kroger Company (The),Consumer Defensive
225,HRL,0.172182,-0.129178,0.231757,-0.070994,Hormel Foods Corporation,Consumer Defensive
108,CPB,0.143377,-0.101050,0.231065,-0.045573,The Campbell's Company,Consumer Defensive
201,GIS,0.120497,-0.040303,0.205170,0.013023,"General Mills, Inc.",Consumer Defensive
256,K,0.091686,0.088633,0.191535,0.139443,Kellanova,Consumer Defensive

## Connect to Local SQL Server

In [21]:
from sqlalchemy import create_engine

username = "postgres"
password = "7445"
host = "localhost"
port = "5432"
database = "sp500_stocks"

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

try:
    df_metrics.to_sql("stock_metrics", engine, if_exists="replace", index=False)
    print("Uploaded df_metrics to Postgres.")
    df_stocks_index.to_sql("individual_stock_history", engine, if_exists="replace", index=False)
    print("Uploaded df_stocks_index to Postgres.")
except Exception as e:
    print("Encountered an error: ", e)

Uploaded df_metrics to Postgres.
Uploaded df_stocks_index to Postgres.

### Webpages/Technologies Referenced

1. [Pandas Documentation](https://pandas.pydata.org/docs/)
2. [yfinance](https://ranaroussi.github.io/yfinance/)
3. [Risk free rate](https://www.cnbc.com/quotes/US10Y)
4. [Google Gemini](https://gemini.google.com/)